<footer id="footer-content">	 <!-- Footer -->
    <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 myt-cen-txt">
            <p>Copyright &copy; {{ todayYear }} &nbsp;<abbr title="Uniting Reformed Church in Southern Africa">
                URCSA</abbr>&nbsp;Melodi ya Tshwane | Website developed by 
                <a rel="author" href="communicationscom.php" target="_blank" aria-labelledby="myt-communications-link">
                    <span id="myt-communications-link"><abbr title="Melodi ya Tshwane">MyT</abbr> Communications Committee</span>
                </a>
            </p>	
        </div>
    </div>
</footer>	<!-- End Footer -->
