<div class="container login-container">
    <img class="img-responsive center-block" alt="Picture of MyT URCSA logo" src="assets/mytLogo53x51.jpeg"/>
    <h1>MYT Admin Login</h1>
    <form (ngSubmit)="adminLogin()" [formGroup]="mytAdminLoginForm" class="form-horizontal">
        <div class="form-group row">
            <myt-admin-alerts></myt-admin-alerts>
        </div>
        <mat-form-field appearance="fill">
            <mat-label for="username">Enter Username</mat-label>
            <input 
                matInput
                id="username"
                type="text" 
                formControlName="username"
                required>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <!--<span class="help-block" id="username-error"></span>-->
            <mat-label for="password">Enter password</mat-label>
            <input 
                matInput
                id="password"
                type="password"
                formControlName="password"
                required>
            <!--<span class="help-block" id="password-error"></span>-->
        </mat-form-field>	
        <button mat-raised-button color="primary" type="submit" id="loginsubmit" 
            [disabled]="mytAdminLoginForm.invalid">Login</button>	
        <myt-progress-loader></myt-progress-loader>	
    </form>
</div>