<myt-admin-header></myt-admin-header>

<div class="container events-container main-body">
    <mat-tab-group>

        <mat-tab label="Add Events">
            <div class="add-events-container col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h1>Add Events</h1>
                <myt-add-event-form></myt-add-event-form>
            </div>
        </mat-tab>

        <mat-tab label="Edit Events">
            <div class="edit-events-container col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h1>Edit Events</h1>
                <myt-edit-event-form></myt-edit-event-form>
            </div>
        </mat-tab>

        <mat-tab label="Delete Events">
            <div class="delete-events-container col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h1>Delete Events</h1>
                <p>...</p>
            </div>
        </mat-tab>

    </mat-tab-group>
</div>

<myt-admin-footer></myt-admin-footer>