<article class="preview-container" aria-labelledby="preview-post-title">
    <section aria-labelledby="preview-post-title">
        <h2 id="preview-post-title"><span *ngIf="events.event_owner">{{events.event_owner}} </span>
            {{events.event_title}}</h2>

        <div *ngIf="events.event_has_content">
            <p>
                {{events.event_content}}
            </p>
        </div>

        <div *ngIf="events.event_has_image && events.event_image_dir">
            <img class="img-thumbnail img-responsive" alt="Event Image" width="550" height="550"
                src="https://mytchurch.co.za/assets/content/{{events.event_image_dir}}">
        </div>
    </section>								
</article>